@model FinalProject.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div style="margin-left: 20px">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMucSP.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucSP.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @{
                string ImagePath = "~/Areas/Admin/assets/imgnew/" + Model.Anh;
            }
            <img src="@Url.Content(ImagePath)" width="200" height="200" class="img-thumbnail" />
            <br />
            @Html.DisplayFor(model => Model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongCon)
        </dd>

    </dl>
</div>
<p style="margin-left: 20px">
    <a href="@Url.Action("Edit", new { id = Model.MaSP })" style="text-decoration: none ;color: royalblue; text-align: center" ><i class="fas fa-edit"></i> Sửa</a> | 
    <a href="@Url.Action("Index")" style="text-decoration: none ;color: royalblue; text-align: center"><i class="fas fa-undo"></i>Quay lại </a>
</p>

